# Core dependencies
streamlit
faiss-cpu
sentence-transformers
scikit-learn
pandas
numpy
tqdm

# Preprocessing
nltk

# Local LLM and Transformers
transformers
torch

# For file handling and json
python-dotenv

# For huggingface models locally
huggingface-hub

# Optional 
# datasets==2.18.0  

# Streamlit extras 
# streamlit-chat==0.1.1
# streamlit-option-menu==0.3.6

# For compression if needed
# zipfile38 (if you use manual zipping) 

